/*--------------------------Monthly uniques and total pageviews----------------------------*/

.axis path {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 11px;
}

#monthlyUniques text {
    fill: white !important;
    stroke: none !important;
}

#monthlyUniquesdiv {
    background-color: #2C3546;
    margin-right: 10px;
}

.domain {
    fill: none;
    stroke: white !important;
}

.c3-axis-x-label {
    stroke: white !important;
    stroke-width: 2 !important;
}


/*------------------social media reach css-------------------*/

#socialmediareach {
    background-color: #2C3546;
    margin-bottom: 50px;
}

#socialmediareach tspan{
	color: white;
}
text {
    fill: white !important;
    stroke: none !important;
}
/*-----------------Newsletter Subscribers-----------------*/

#newsletter {
    background-color: #2C3546;
    margin-left: 10px;
}

#newsletter h1 {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#newsletterImage {
    float: left;
    margin-top: -10px;
}

span {
    color: white;
}


/*-------------------Total audience-----------------*/

#Total-audience {
    background-color: #2C3546;
    margin-left: 10px;
}

#Total-audience h1 {
    color: white;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}


/*----------------------Device traffic and chapter presence-------------------*/

#deviceTraffic, #chapterPresence {
    color: white;
    background-color: #2C3546;
    margin-top: 5px;
    margin-bottom: 5px;
}

#deviceImages {
    text-align: right;
}

#deviceImages img{
    float: right;
}
