.right{
    text-align: center;
}

.right .line {
    stroke: rgb(247, 150, 29);
    stroke-width: 2;
    fill: none;
}

.right .axis {
  shape-rendering: crispEdges;
}

.right .x.axis line {
  stroke: rgba(88, 89, 93, .12);
}

.right .x.axis .minor {
  stroke-opacity: .5;
}

.right .x.axis path {
  display: none;
}

.right .y.axis line, .y.axis path {
  fill: none;
  stroke: rgba(88, 89, 93, .5);
}

.right .axis path,
.right .axis line {
  fill: none;
  stroke: rgba(88, 89, 93, .3);
  shape-rendering: crispEdges;
}

.right .axis text {
  font: 10px sans-serif;
  fill: rgba(88, 89, 93, .5);
}