head{
	background-color: #262C3A;
}

head, html, body{
	background-color: #262C3A;
}

.container-fluid, .row{
	background-color: #262C3A;
}
/*-----------------------tab bar-------------------------------*/
#tabs{
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;;
}

#tabs ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0; 
}

#tabs li {
	float: left;
	width: 16.66%; 
}

#tabs li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	border-right: 1px solid #ccc; 
}

/*
#nav li:first-child a {
	border-left: 1px solid #ccc; 
}
*/
#nav li a:hover {
	color: #c00;
	background-color: #fff; 
}

.nav-tabs a{
	color: white;
}

.nav-tabs .audience{
	background-color: #FF0066;
}

.nav-tabs .reach{
	background-color: #00D6C2;
}

.nav-tabs .engagement{
	background-color: #FCBD12;
}

.nav-tabs .team{
	background-color: #6640CC;
}

.nav-tabs .product{
	background-color: #FF0066;
}

.nav-tabs .competitors{
	background-color: #00D6C2;
}


/*------------------social media reach css-------------------*/
#socialmediareach{
	background-color: #2C3546;
	position: relative;
	left: -92px;
	-webkit-transform:scale(0.75);
	-moz-transform:scale(0.75);
	-ms-transform:scale(0.75);
	transform:scale(0.75);
}

#pieChart {    
	background-color: #2C3546;
	position:absolute;
	top:10px;
	left:10px;
	width:400px;
	height: 400px; 
}



#lineChart { 
	background-color: #2C3546;   
	position:absolute;
	top:10px;
	left:410px;
	height: 150px;
}

#barChart {
	background-color: #2C3546;
	position:absolute;
	top:160px;
	left:410px;
	height: 250px;
}

#socialmediareach .slice {
	font-size: 8pt;
	font-family: Verdana;
	fill: white; //svg specific - instead of color
	font-weight: bold;	
} 

/*for line chart*/
#socialmediareach .axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges; //The shape-rendering property is an SVG attribute, used here to make sure our axis and its tick mark lines are pixel-perfect. 
}

#socialmediareach .line {
	fill: none;
	/*stroke: steelblue;*/
	stroke-width: 3px;
}

#socialmediareach .dot {
	/*fill: white;*/
	/*stroke: steelblue;*/
	stroke-width: 1.5px;
}


#socialmediareach .axis text {
	font-family: Verdana;
	font-size: 11px;
}

#socialmediareach .title {
	font-family: Verdana;
	font-size: 15px;	

}

#socialmediareach .xAxis {
	font-family: verdana;
	font-size: 11px;
	fill: black;
}  

#socialmediareach .yAxis {
	font-family: verdana;
	font-size: 11px;
	fill: black;
}


#socialmediareach table {
	border-collapse:collapse;
	border: 0px;	
	font-family: Verdana;	
	color: #5C5558;
	font-size: 12px;
	text-align: right;			
}

#socialmediareach td {
	padding-left: 10px;		
}

#lineChartTitle1 {
	font-family: Verdana;
	font-size  : 14px;
	fill       : lightgrey;
	font-weight: bold;
	text-anchor: middle;
}

#lineChartTitle2 {
	font-family: Verdana;
	font-size  : 72px;
	fill       : grey;
	text-anchor: middle;
	font-weight: bold;
	/*font-style: italic;*/
}


/*------------------------------Line graphs--------------------------*/
#monthlyUniques{
	background-color: #262C3A;
	stroke-width: .5px;
}

#monthlyUniques line {
	stroke: white;
	stroke-width: .5px;
	fill:none;
}

#monthlyUniques text {
	font-family: Arial;
	font-size: 9pt;
}

#visualisation{
	background-color: #2C3546;
}
#visualisation .axis path {
	fill: none;
	shape-rendering: crispEdges;
	stroke-width: 1px;
	stroke: white;
}
#visualisation .axis text {
	font-family: Lato;
	font-size: 13px;
	fill: white;
	stroke-width: 2px;
}

#visualisation .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
#visualisation .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
/*-----------------Newsletter Subscribers-----------------*/
#newsletter .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
#newsletter .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#newsletter .axis text {
  font: 10px sans-serif;
}

#newsletter .axis path,
#newsletter .axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
